<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="fedx-pic/fonts/css/all.css">
<link rel="stylesheet" href="f.css">
<body>
    <div class="tracking-body">
        <div class="main-head">
            <div class="sub-head">
                <span class="head-img"><img class="head-img0" src="fedx-pic/f-logo.jpg"></span>
                <span class="sing-in-text-box"><h5 class="sing-in-text">Sign Up or Log in</h5></span>
                <span class="sign-in-i" data-page="signIn"><i class="fa fa-user-circle"></i></span>
                <span class="menu-bar"><i class="fas fa-bars"></i></span>
            </div>
        </div>
        <div class="delivery-status">
            <div class="scheduled-details"><h2 class="scheduled-details-head-text">SCHEDULED DELIVERY DATE</h2></div>
            <div class="scheduled-statues"><h1 class="scheduled-statues-text">Pending</h1></div>
            <div class="scheduled-delivery-status">
                <h5 class="scheduled-delivery-status-text">DELIVERY STATUS</h5>
                <div class="delivery-status0">
                    <h5 class="delivery-status0-text">In Transit</h5>
                    <span class="delivery-status0-i"><i class="fa fa-circle-arrow-right d-a-i"></i><i class="fa-solid fa-circle-info d-i"></i></span>
                </div>
            </div>
        </div>
        <div class="delivery-messege-alert">
            <h5 class="messege-alert-head">Important Message!!</h5>
            <div class="messege-alert-content-box">
                <h5 class="messege-alert-text">Due to task rate packege is delayed. For more infomation, inquiry and clearnce please contact </h5>
                <a class="managment-link">Delivery Management</a>
            </div>
        </div>
        <div class="tracking-id-box">
            <h1 class="tracking-id-head-text">TRACKING ID</h1>
            <div class="tracking-id-text-box">
                <h5 class="tracking-id-text">420057800239</h5>
                <span class="tracking-id-star-i"><i class="fa fa-star"></i></span>
            </div>
        </div>
        <div class="tracking-body-info">
            <div class="tracking-animation-bar">
                <div class="tracking-animation-bar0">
                </div><div class="indication-i"><i class="fa fa-circle-arrow-right i-i"></i><i class="fa-solid fa-circle-info a-i"></i></div>
            </div>
            <div class="tracking-details-info">
                <div class="tracking-box">
                    <div class="from-body-box">
                        <h5 class="from-body-head-text h-d">- FROM</h5>
                        <div class="from-body-content-box c-b">
                            <h5 class="from-body-from-text">SINGAPORE, SG</h5>
                            <h5 class="from-body-head-creation-text">Label Created</h5>
                            <h5 class="from-body-date-text">5/10/24 3:09AM</h5>
                        </div>
                    </div>
                    <div class="pReceved-box">
                    <div class="pReceved-body-box">
                        <h5 class="pReceved-body-head-text h-d">- PACKAGE RECEIVED BY FEDEX</h5>
                        <div class="pReceved-body-content-box c-b">
                            <h5 class="pReceved-body-pReceved-text">SINGAPORE, SG</h5>
                            <h5 class="pReceved-body-date-text">6/10/24 10:29PM</h5>
                        </div>
                    </div>
                </div>
                <div class="intransit-box">
                    <div class="intransit-body-box">
                        <h5 class="intransit-body-head-text h-d">- IN TRANSIT</h5>
                    </div>
                </div>
                 <div class="customs-box">
                    <div class="customs-body-box">
                        <h5 class="customs-body-head-text h-d">- UNDER CUSTOMS CLEARNCE</h5>
                        <div class="customs-body-content-box c-b">
                            <h5 class="customs-body-location-text">CALIFORNIA, LA</h5>
                            <h5 class="customs-body-date-text">5/14/24 12:05PM</h5>
                        </div>
                    </div>
                </div>
                <div class="out-box">
                    <div class="out-body-box">
                        <h5 class="out-body-head-text h-d">- OUT FOR DELIVERY</h5>
                    </div>
                </div>
                <div class="to-box">
                    <div class="to-body-box">
                        <h5 class="to-body-head-text h-d">- TO</h5>
                        <div class="to-body-content-box c-b">
                            <h5 class="to-body-loctaion-text">CALIFORNIA, LA</h5>
                            <h5 class="to-body-update-text h-d">UPDATED DELIVERY</h5>
                            <h5 class="to-body-pending-text">Pending</h5>
                            <h5 class="to-body-expected-date-text">Initially expected</h5>
                            <h5 class="to-body-date-text">5/14/24 6:05PM</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="update-email-box">
        <h5 class="update-email-text">Want updates on this shipment? Enter your email and we will do the rest!</h5>
        <div class="update-email-box-content">
            <span class="update-email-in-box"><input class="update-email-in" placeholder="YOUR EMAIL" type="text"></span><span class="email-submit-btw">SUBMIT</span>
        </div>
    </div>
    <div class="help-pop-up-box">
        <span class="help-pop-up-i"><i class="fa fa-comment-dots"></i></span>
        <h5 class="help-pop-up-text">ASK FEDEX</h5>
    </div>
    <div class="delivery-details-tool-bar-box">
        <div class="shipment-facts d-t">
            <h5 class="shipment-facts-text">Shipment facts</h5>
            <i class="fa fa-angle-down s-i-d d-ar-i"></i>
            <i class="fa fa-angle-up s-i-u d-ar-i"></i>
        </div>
        <div class="shipment-facts-content">
            <div class="shipment-facts-overview-box m-b">
                <div class="overview-box">
                    <div class="overview-head h-d">
                        <i class="fa-solid fa-cube h-i"></i>
                        <h2 class="overview-head-text h-t">Shipment overview</h2>
                    </div>
                    <div class="overview-body-content">
                        <div class="overview-tracking-number-box d-b">
                            <h5 class="overview-tracking-number">TRACKING NUMBER</h5>
                            <h5 class="overview-tracking-number-text a-t">420057800239</h5>
                        </div>
                        <div class="overview-ship-date-box w-b">
                            <h5 class="overview-ship-date">SHIP DATE</h5>
                            <h5 class="overview-ship-date-text a-t">5/10/24</h5>
                        </div>
                        <div class="overview-standard-transit-box d-b">
                            <h5 class="overview-standard-transit">STANDARD TRANSIT</h5>
                            <h5 class="overview-standard-transit-text a-t">6/10/24 before 8:00 PM</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-box-body m-b">
                <div class="services-box">
                    <div class="services-head h-d">
                        <i class="fa-solid fa-truck-fast h-i"></i>
                        <h2 class="services-head-text h-t">Services</h2>
                    </div>
                    <div class="services-body-content">
                        <div class="services-details-box d-b">
                            <h5 class="services-type">SERVICE</h5>
                            <h5 class="services-text a-t">FedEx 2Day</h5>
                        </div>
                        <div class="services-terms-box w-b">
                            <h5 class="services-terms">TERMS</h5>
                            <h5 class="services-terms-text a-t">Shipper</h5>
                        </div>
                        <div class="services-sepcial-box d-b">
                            <h5 class="services-sepcial">SPECIAL HANDLING SECTION</h5>
                            <h5 class="services-sepcial-text a-t">Deliver Weekday, Residentail Delivery</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="0-body m-b">
                <div class="package-box">
                    <div class="package-head h-d">
                        <i class="fas fa-weight-hanging h-i"></i>
                        <h2 class="package-head-text h-t">Package details</h2>
                    </div>
                    <div class="package-body-content">
                        <div class="package-deatails-box d-b">
                            <h5 class="package-weight">WEIGHT</h5>
                            <h5 class="package-weight-text a-t">0.5lbs/0.23kgs</h5>
                        </div>
                        <div class="package-pieces-box w-b">
                            <h5 class="package-pieces">TOTAL PIECES</h5>
                            <h5 class="package-pieces-text a-t">1</h5>
                        </div>
                        <div class="package-total-weight-box d-b">
                            <h5 class="package-total-weight">TOTAL SHIPMENT WEIGHT</h5>
                            <h5 class="package-total-weight-text a-t">1.5kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="travel-history d-t">
            <h5 class="travel-history-text">Travel history</h5>
            <i class="fa fa-angle-down t-i-d d-ar-i"></i>
            <i class="fa fa-angle-up t-i-u d-ar-i"></i>
        </div>
        <div class="travel-box">
            <div class="travel-box-content">
                <div class="travel-customes">
                    <h5 class="customes-arrived-day-time t-d-t t-t">Tuesday, 11/10/2020</h5>
                    <h5 class="customes-arrived-location-time t-t">11:30PM</h5>
                    <h5 class="customes-arrived-place-location t-t">CUSTOMS OFFICE CALIFORNIA, LA</h5>
                    <h5 class="customes-arrived-location t-t">Arrived at Custom office</h5>
                </div>
                <h5 class="travel-departed-day-time t-d-t t-t">Monday, 10/10/2020</h5>
                <h5 class="travel-departed-location-time t-t">11:30PM</h5>
                <h5 class="travel-departed-place-location t-t">FEDEX SMARTPOST SINGAPORE, SG</h5>
                <h5 class="travel-departed-location t-t">Departed FedEx location</h5>
                <h5 class="travel-arrived-location-time t-t">10:29PM</h5>
                <h5 class="travel-arrived-place-location t-t">FEDEX SMARTPOST SINGAPORE, SG</h5>
                <h5 class="travel-arrived-location t-t">Arrived at FedEx location</h5>
                <h5 class="travel-arrived-day-time t-d-t t-t">Friday, 7/10/2020</h5>
                <h5 class="main-travel-time t-t">3:09AM</h5>
                <h5 class="main-travel-text t-t">Shipment information sent to FedEx</h5>
            </div>
        </div>
    </div>
    <div class="watch-list-box">
        <h2 class="wacth-list-text">Watch list</h2>
        <span class="wacth-list-subtext"><h5 class="wacth-list-subtext0">You do not currently have any Watch list shipments</h5></span>
    </div>
    <div class="end-tool-bar">
        <h4 class="our-company-text">OUR COMPANY</h4>
        <h5 class="about-fx">About FedEx</h5>
        <h5 class="about-fx">Our Portfolio</h5>
        <h5 class="about-fx">investor Relations</h5>
        <h5 class="about-fx">Careers</h5>
        <h5 class="about-fx">FedEx Blog</h5>
        <h5 class="about-fx">Corporate Responsibility</h5>
        <h5 class="about-fx">Newsroom</h5>
        <h5 class="about-fx c-u">Contact Us</h5>
    </div>
</div>
<div class="track-home-page">
    <div class="main-head">
            <div class="sub-head">
                <span class="head-img"><img class="head-img0" src="f-logo.jpg"></span>
                <span class="sing-in-text-box"><h5 class="sing-in-text">Sign Up or Log in</h5></span>
                <span class="sign-in-i"><i class="fa fa-user-circle" data-page="signIn"></i></span>
                <span class="menu-bar"><i class="fas fa-bars"></i></span>
            </div>
    </div>
    <div class="sup-head-box"><h5 class="sup-head-text">FedEx Tracking</h5></div>
    <div class="tracking-alert-box">
        <div class="tracking-alert-head-i"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div class="tracking-alert-text-content">
            <h5 class="tracking-alert-text">No record of this tracking number can be found at this time, please check the number and try again later. For further assistance. please contact </h5>
            <a class="tracking-customer-service">Customer Service</a>
        </div>
    </div>
    <div class="main-head0"><h3 class="head0">Optain proof of delivery</h3></div>
    <div class="head-content">
        <h5 class="head-content-text">Enter up to 30 of your FedEx tracking door tag. or FedEx Office order numbers (one per line)</h5>
    </div>
    <div class="tracking-in-box">
        <div class="tracking-in-box-content">
            <h5 class="tracking-in-text">Tracking number*</h5>
            <input class="tracking-in" type="text">
            <h5 class="tracking-help-text">NEED HELP?</h5>
        </div>
    </div>
    <div class="end-div-bar-box">
        <div class="track-btw-box">
            <span class="track-btw">TRACK</span>
        </div>
        <div class="top-border">
            <div class="watch-list-box w-l">
                <h2 class="wacth-list-text w-l-t">Watch list</h2>
                <span class="wacth-list-subtext"><h5 class="wacth-list-subtext0">You do not currently have any Watch list shipments</h5></span>
            </div>
            <div class="end-tool-bar">
                <h4 class="our-company-text">OUR COMPANY</h4>
                <h5 class="about-fx">About FedEx</h5>
                <h5 class="about-fx">Our Portfolio</h5>
                <h5 class="about-fx">investor Relations</h5>
                <h5 class="about-fx">Careers</h5>
                <h5 class="about-fx">FedEx Blog</h5>
                <h5 class="about-fx">Corporate Responsibility</h5>
                <h5 class="about-fx">Newsroom</h5>
                <h5 class="about-fx c-u">Contact Us</h5>
            </div>
        </div>
    </div>
</div>
<div class="login-page">
    <div class="main-head">
            <div class="sub-head">
                <span class="head-img"><img class="head-img0" src="f-logo.jpg"></span>
                <span class="sing-in-text-box"><h5 class="sing-in-text">Sign Up or Log in</h5></span>
                <span class="sign-in-i" data-page="signIn"><i class="fa fa-user-circle"></i></span>
                <span class="menu-bar"><i class="fas fa-bars"></i></span>
            </div>
        </div>
    <div class="login-content-box">
        <div class="login-text-box">
            <h3 class="login-text">Enter your user ID and password to log in</h3>
        </div>
        <div class="create-account-text-box">
            <h5 class="create-account-text">CREATE A USER ID FOR AN EXISTING ACCOUNT</h5>
        </div>
        <div class="login-in-box">
            <span class="u-in-box"><input class="user-id u-in" type="text" placeholder="USER ID"></span>
            <span class="u-in-box"><input class="user-password u-in" type="text" placeholder="PASSWORD"></span>
        </div>
        <div class="remember-id-box">
            <input class="remember-check-box" type="checkbox">
            <h5 class="remember-check-box-text">Remember my user ID</h5>
        </div>
        <div class="login-btw-box">
            <span class="login-btw">LOGIN</span>
        </div>
    </div>
    <div class="login-error-box">
        <div class="error-text-box">
            <h5 class="error-text">We are having trouble establishing a connection. please refresh the page</h5>
        </div>
        <div class="error-retry-btw-box">
            <span class="error-retry-btw">RETRY</span>
        </div>
    </div>
    <div class="l-end-div-bar-box">
        <div class="login-help-box">
            <span class="login-help-box-content"><h5 class="login-help-text">Need help?</h5></span>
            <span class="login-help-box-content"><h5 class="login-help-customers-support">CUSTOMER SUPPORT</h5></span>
        </div>
        <div class="end-tool-bar l-e">
            <h4 class="our-company-text">OUR COMPANY</h4>
            <h5 class="about-fx">About FedEx</h5>
            <h5 class="about-fx">Our Portfolio</h5>
            <h5 class="about-fx">investor Relations</h5>
            <h5 class="about-fx">Careers</h5>
            <h5 class="about-fx">FedEx Blog</h5>
            <h5 class="about-fx">Corporate Responsibility</h5>
            <h5 class="about-fx">Newsroom</h5>
            <h5 class="about-fx c-u">Contact Us</h5>
        </div>
    </div>
</div>
<div class="user-page">
    <div class="main-head">
            <div class="sub-head">
                <span class="head-img"><img class="head-img0" src="f-logo.jpg"></span>
                <span class="sing-in-text-box"><h5 class="sing-in-text u-s-t">Sign Up or Log in</h5></span>
                <span class="sign-in-i"><i class="fa fa-user-circle"></i></span>
                <span class="menu-bar"><i class="fas fa-bars"></i></span>
            </div>
    </div>
    <div class="contant-box">
        <div class="user-details-box u-b-c">
            <h5 class="form-box u-t">Sender Details</h5>
            <input class="from-in u-in0" type="text" placeholder="from city?">
            <input class="from-date-in u-in0" type="text" placeholder="date 1/07/25">
            <input class="from-time-in u-in0" type="text" placeholder="time 12:00AM">
        </div>
        <div class="company-details-box u-b-c">
            <h5 class="company-box-text u-t">Receivers Company Details</h5>
            <input class="company-in u-in0" type="text" placeholder="company city?">
            <input class="company-date-in u-in0" type="text" placeholder="date 2/07/25">
            <input class="company-time-in u-in0" type="text" placeholder="time 10:30AM">
            <input class="company-day-in u-in0" type="text" placeholder="day mon-fri ?">
            <h5 class="company-box-text0 u-t">Depation Time & Date</h5>
            <input class="company-d-time-in u-in0" type="text" placeholder="time 10:30AM">
            <input class="company-d-day-in u-in0" type="text" placeholder="day mon-fri ?">
        </div>
        <div class="cl-details-box u-b-c">
            <h5 class="cl-box u-t">Cl Address</h5>
            <input class="cl-in u-in0" type="text" placeholder="cl city & address ?">
            <h5 class="cl-receive-date-text u-t">Package Receive Date</h5>
            <input class="cl-date-in u-in0" type="text" placeholder="date and time 2/07/25 2:00PM">
        </div>
        <div class="package-deatails-box0 u-b-c">
            <h5 class="package-box0 u-t">Package Details</h5>
            <input class="package-weight-in u-in0" type="text" placeholder="weight ?">
            <input class="package-pieces-in u-in0" type="text" placeholder="pieces ?">
            <input class="package-total-weight-in u-in0" type="text" placeholder="total weight ?">
        </div>
        <div class="customes-details-box u-b-c">
            <h5 class="customes-box u-t">Customes Details</h5>
            <input class="customes-in u-in0" type="text" placeholder="customes city?">
            <input class="customes-date-in u-in0" type="text" placeholder="date 3/07/25">
            <input class="customes-time-in u-in0" type="text" placeholder="time 10:30AM">
            <input class="customes-day-in u-in0" type="text" placeholder="day mon-fri ?">
        </div>
        <div class="generate-id-save">
            <button class="get-t-id g-id">Get ID</button>
            <button class="save-t-id g-id">Save ID</button>
        </div>
        <div class="generated-id-box"><h5 class="generated-id-text"></h5></div>
    </div>
    <div class="all-ids"><h5 class="all-ids-text">***ALL IDS SAVED***</h5></div>
    <div class="id-parentBody">
    </div>
</div>
</body>
<script src="f.js" ></script>
</html>