*{
    margin: 0;
}
.main-head{
    padding-bottom: 7px;
    border-bottom: 2px inset rgb(182, 180, 180);
    box-shadow: 0px 1px 3px rgb(182, 180, 180);
}
.sub-head{
    display: flex;
    background-color: #460888;
    width: 100%;
    height: 70px;
}
.head-img{
    display: inline-block;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}
.head-img0{
    width: 100px;
    height: 40px;
    border: 1px solid;
    border: #460888;
}
.sing-in-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sign-in-i{
    display: inline-block;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-user-circle{
    color: white;
    font-size: 25px;
    font-weight: 200;
}
.menu-bar{
    display: inline-block;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 5px;
}
.fa-bars{
    color: white;
    font-size: 25px; 
}
.delivery-status{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.scheduled-details{
    margin-left: 15px;
}
.scheduled-details-head-text{
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.scheduled-statues{
    margin-top: 5px;
    margin-left: 15px;
}
.scheduled-statues-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.scheduled-delivery-status{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.scheduled-delivery-status-text{
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.delivery-status0{
    display: flex;
}
.delivery-status0-text{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.delivery-status0-i{
    display: inline-block;
    margin-left: 3px;
}
.d-i{
    font-size: 23px;
    color: red;
}
.d-a-i{
    font-size: 23px;
    color: #460888;
}
.tracking-id-box{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.tracking-id-head-text{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.tracking-id-text-box{
    margin-top: 10px;
    display: flex;
    gap: 7px;
}
.tracking-id-text{
    font-size: 16px;
    font-weight: 400;
}
.fa-star{
    font-weight: 200;
    font-size: 17px;
    color: rgb(25, 116, 151);
}
.tracking-body-info{
    margin-top: 20px;
    display: flex;
}
.tracking-animation-bar{
    margin-left: 27px;
    margin-right: 25px;
    background-color: rgb(228, 221, 221);
    width: 15px;
    height: 440px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tracking-animation-bar0{
    width: 15px;
    height: 172px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #460888;
    display: inline-block;
}
.indication-i{
    display: inline-block;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
}
.a-i{
    font-size: 50px;
    color: red;
    display: none;
}
.i-i{
    font-size: 50px;
    color: #460888;
}
.tracking-details-info{
    margin-top: 10px;
}
.tracking-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h-d{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.c-b{
    display: flex;
    flex-direction: column;
}
.from-body-from-text{
    font-size: 13px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    color: rgb(73, 69, 69);
}
.from-body-head-creation-text{
    margin-top: 7px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(102, 95, 95);
}
.from-body-date-text{
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(102, 95, 95);
}
.pReceved-body-pReceved-text{
    margin-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    color: rgb(73, 69, 69);
}
.pReceved-body-date-text{
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(102, 95, 95);
}
.intransit-body-box{
    background-color: rgb(247, 246, 246);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.intransit-body-head-text{
    padding-top: 10px;
    padding-bottom: 10px;
}
.customs-body-box{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(247, 246, 246);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.customs-body-location-text{
    margin-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    color: rgb(73, 69, 69);
}
.customs-body-date-text{
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(102, 95, 95);
}
.out-body-head-text{
   color: rgb(156, 154, 154); 
}
.to-body-head-text{
    color: rgb(156, 154, 154);
}
.to-body-loctaion-text{
    margin-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    color: rgb(156, 154, 154);
}
.to-body-update-text{
    margin-top: 15px;
    font-style: italic;
    color: rgb(156, 154, 154);
}
.to-body-pending-text{
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(156, 154, 154);
}
.to-body-expected-date-text{
    margin-top: 15px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11;
    color: rgb(156, 154, 154);
}
.to-body-date-text{
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.9px;
    color: rgb(156, 154, 154);
}
.customs-box{
    display: none;
}
.d-i{
    display: none;
}
.update-email-box{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 10px;
}
.update-email-text{
    font-size: 13.9px;
    font-family: Arial, Helvetica, sans-serif; 
}
.update-email-box-content{
    margin-top: 5px;
    display: flex;
    width: 90%;
    height: 30px;
}
.update-email-in{
    height: 30px;
    border: 1px solid;
    border-color: rgb(219, 206, 206);
    background-color: rgb(219, 206, 206);
}
.email-submit-btw{
    margin: 0;
    height: 34px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
.help-pop-up-box{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #460888;
    color: white;
}
.help-pop-up-i{
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fa-comment-dots{
    font-size: 22px;
    font-weight: 200;
}
.help-pop-up-text{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-size: 17px;
    font-family: system-ui;
    font-weight: 500;
}
.delivery-messege-alert{
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 10px;
}
.messege-alert-head{
    font-size: 18px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.messege-alert-text{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.managment-link{
    margin-left: 10px;
    color: #460888;
    border-bottom: 1px solid;
}
.delivery-messege-alert{
    display: none;
}
.delivery-details-tool-bar-box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
}
.d-t{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-top: 1px solid;
}
.travel-history{
    border-bottom: 1px solid;
}
.shipment-facts-content{
    transform-origin: top;
    animation: dropDown 0.2s forwards;
}
@keyframes dropDown{
    from {transform: scaleY(0); opacity: 0;}
    to {transform: scaleY(1); opacity: 1;}
}
.shipment-facts-text{
    font-size: 20px;
    font-weight: 300;
    margin-right: auto;
}
.travel-box{
    transform-origin: top;
    animation: dropDown 0.2s forwards;
}
.travel-history-text{
    font-size: 20px;
    font-weight: 300;
    margin-right: auto;
}
.d-ar-i{
    font-size: 20px;
}
.fa-angle-up{
    display: none;
}
.watch-list-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}
.wacth-list-text{
    font-size: 20px;
    font-weight: 300;
}
.wacth-list-subtext{
    margin-top: 15px;
    align-self: center;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.end-tool-bar{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 246, 246);
}
.our-company-text{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: #460888;
    font-family: Arial, Helvetica, sans-serif;
}
.about-fx{
    margin-left: 10px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.c-u{
    margin-bottom: 10px;
}
.h-d{
    display: flex;
    gap: 10px;
}
.h-i{
    color: #460888;
    font-size: 30px;
}
.h-t{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
}
.d-b{
    margin-top: 10px;
    display: flex;
    background-color: rgb(243, 238, 238);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.w-b{
    display: flex;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.m-b{
    margin-top: 15px;
}
.a-t{
    color: rgb(92, 88, 88);
}
.overview-tracking-number-text{
    margin-left: 50px;
}
.overview-ship-date-text{
    margin-left: 120px;
}
.overview-standard-transit-text{
    margin-left: 50px;
}
.services-text{
    margin-left: 130px;
}
.services-terms-text{
    margin-left: 140px;
}
.services-sepcial-text{
    margin-left: 15px;
}
.package-weight-text{
    margin-left: 125px;
}
.package-pieces-text{
    margin-left: 82px;
}
.package-total-weight-text{
    margin-left: 5px;
}
.package-box-body{
    margin-bottom: 20px;
}
.shipment-facts-content{
    display: none;
}
.travel-box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.t-t{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.t-d-t{
    background-color: rgb(243, 238, 238);
}
.travel-arrived-location-time{
    margin-top: 15px;
}
.travel-departed-day-time{
    margin-top: 15px;
}
.customes-arrived-day-time{
    margin-top: 15px;
}
.travel-customes{
    display: none;
}
.travel-box{
    display: none;
}
/**traking page end**/
.main-head0{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(77, 75, 75);
}
.head-content{
    margin-top: 7px;
    text-align: center;
}
.head-content-text{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(77, 75, 75);
}
.sup-head-box{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px inset rgb(182, 180, 180);
}
.sup-head-text{
    margin-left: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 75, 75);
}
.tracking-in-box-content{
    display: flex;
    flex-direction: column;
}
.tracking-in-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.tracking-in-text{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.tracking-in{
    width: 50vw;
    height: 30px;
    border: 1px solid;
    border-color: gray;
}
.track-btw-box{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.track-btw{
    display: inline-block;
    background-color: rgb(202, 200, 200);
    font-size: clamp(15px, 2vw, 20px);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.tracking-help-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 136, 182);
}
.tracking-alert-head-i{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.fa-triangle-exclamation{
    font-size: 30px;
    color: red;
}
.tracking-alert-box{
    margin-bottom: 10px;
}
.tracking-alert-text-content{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.tracking-alert-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 75, 75);
}
.tracking-customer-service{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 105, 145);
    border-bottom: 1px solid;
}
.tracking-alert-box{
    display: none;
}
.end-div-bar-box{
    display: flex;
    flex-direction: column;
    gap: 170px;
}
.top-border{
    display: flex;
    flex-direction: column;
    border-top: 1px inset;
    border-color: rgb(240, 234, 234);
    margin-top: auto;
    width: 100%;
    bottom: 0;
}
.w-l{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
/**tracking home page end**/
/**login page**/
.login-text-box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.login-text{
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 75, 75);
}
.create-account-text-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.create-account-text{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(67, 67, 196);
}
.login-in-box{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.u-in-box{
    display: flex;
    justify-content: center;
}
.u-in{
    width: 70%;
    height: 30px;
    border: 1px solid;
    border-color: rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
}
.remember-id-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.remember-check-box{
    width: 20px;
}
.remember-check-box-text{
    font-size: 12px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
.login-btw-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.login-btw{
    display: block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: orangered;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.login-help-box{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.login-help-box-content{
    display: flex;
    justify-content: center;
}
.login-help-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.login-help-customers-support{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(67, 67, 196);
}
.l-end-div-bar-box{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.l-e{
    width: 100%;
}
.login-error-box{
    margin-top: 60px;
}
.error-text-box{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.error-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.error-retry-btw-box{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.error-retry-btw{
    display: block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: orangered;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.login-error-box{
    display: none;
}
/**login page end**/
/****/
.contant-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-details-box{
    margin-top: 20px;
}
.u-b-c{
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
    margin-right: 25px;
}
.u-t{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
}
.u-in0{
    height: 25px;
    border: 1px solid;
    margin-top: 5px;
}
.generate-id-save{
    display: flex;
    justify-content: center;
    gap: 7px;
}
.g-id{
    width: 100px;
    height: 25px;
}
.generated-id-box{
    display: flex;
    justify-content: center;
}
.generated-id-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.all-ids{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.id-parentBody{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.id-box{
    display: flex;
    gap: 7px;
}
.id-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.id-delete-btw{
    width: 70px;
    height: 25px;
    border: 1px solid;
    border-radius: 7px;
    background-color: rgb(201, 131, 1);
    color: white;
}